// Reboot Override

body { 
  font-family: $font-family-base;
  color: $body-color;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $headings-font-family;
  font-weight: bold;
  color: $headings-color;
}

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}